.controls-content-list__counter {
  width: 33px;
  height: 22px;
  background-color: #908f8f;
  text-align: center;

  color: #bab9b9;
  font-family: 'Geneva';
  font-size: 0.75rem;
  line-height: 22px;
  font-weight: 400;
  vertical-align: middle;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}