@import "__link/header-navigation-search-field-category__link.scss";
@import "__name/header-navigation-search-field-category__name.scss";

.header-navigation-search-field-category {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 15px;
}