a.catalog-item__headline {
  width: 100%;
  color: #314c71;
  font-family: 'Helvetica';
  font-size: 0.9375rem;
  font-weight: 300;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: none;
  line-height: 1.2;
  margin-bottom: 7px;
  min-height: 30px;
}

.catalog-item-headline {
  width: 100%;
}