$default-font: "Helvetica", sans-serif;

$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 1023px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 973px, lg: 1016px, xl: 1215px);

$gutter: $grid-gutter-width;
