a.header-navigation-menu__link {
  color: #394c66;
  font-family: 'Helvetica';
  font-size: 0.8125rem;
  font-weight: 300;
  text-decoration: none;
  height: 34px;
  position: relative;
  vertical-align: middle;

  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;

  border-top: 1px solid #394c66;
  border-bottom: 1px solid #394c66;
  
  &:hover {
    color: #c6583f;
    border-color: #c6583f;
  }
}