@import "__inner/mobile-navigation-social__inner.scss";

.mobile-navigation-social {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #f9fafa;
  border-bottom: 1px solid #bababa;
  border-top: 1px solid #bababa;
}