@import "__name/header-navigation-search-field__name.scss";
@import "header-navigation-search-field-category/header-navigation-search-field-category.scss";
@import "header-navigation-search-fields-group/header-navigation-search-fields-group.scss";
@import "header-navigation-search-field-item/header-navigation-search-field-item.scss";
@import "__more/header-navigation-search-field-item__more.scss";

.header-navigation-search-fields {
  position: absolute;
  box-shadow: 0 24px 24px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  top: 43px;
  min-width: 580px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 21px;
  padding-bottom: 7px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;

  &.header-navigation-search-fields_active {
    visibility: visible;
    opacity: 1;
  }

}