@import "__item/bottom-navigation-table-list__item.scss";
@import "__link/bottom-navigation-table-list__link.scss";

.bottom-navigation-table-list {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 1.4;
}