@import "__input/header-navigation-search__input.scss";
@import "__submit/header-navigation-search__submit.scss";

.header-navigation-search {
  width: 243px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-right: 27px;

  &.header-navigation-search_wide {
    width: 546px;
  }

  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  
  &.header-navigation-search_focus {
    .header-navigation-search__input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-right: none;
      border-color: #c0533b;
      box-shadow: inset 0 5px 4px rgba(22, 22, 22, 0.15);
    }

    .header-navigation-search__submit {
      margin-left: 0;
      height: 35px;
      border-top-right-radius: 5px;
      background-color: #c7593d;
    }
  }
}