a.mobile-catalog-menu__link {
  color: #394c66;
  font-family: 'Helvetica';
  font-size: 12px;
  font-weight: 300;
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  padding-top: 12px;
}