@import "__button/controls-content-list-add__button.scss";
@import "__headline/controls-content-list-add__headline.scss";

.controls-content-list-add {
  display: flex;
  align-items: center;
  margin-left: 16px;
}